.title-contact {
  margin-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 32pt;
  font-weight: bold;
  font-family: 'futura-bold', Fallback, sans-serif;
}

input[type="text"] {
    padding: 7px;
    width: 100%;
  
    background: linear-gradient(#4A4A4A, #4A4A4A), linear-gradient(#4A4A4A, #4A4A4A), linear-gradient(#4A4A4A, #4A4A4A);
    background-size: 2px 20%, 100% 2px, 2px 20%;
    background-position: bottom left, bottom center, bottom right;
    background-repeat: no-repeat;
  
  /* Text in form */
    border: none;
    color: #4A4A4A;
    outline: none;
    font-family: 'avenir-light', Fallback, sans-serif;
    font-size: 16px
  }

input[type="email"] {
  padding: 7px;
  width: 100%;
  
  background: linear-gradient(#4A4A4A, #4A4A4A), linear-gradient(#4A4A4A, #4A4A4A), linear-gradient(#4A4A4A, #4A4A4A);
  background-size: 2px 20%, 100% 2px, 2px 20%;
  background-position: bottom left, bottom center, bottom right;
  background-repeat: no-repeat;
  
  /* Text in form */
  border: none;
  color: #4A4A4A;
  outline: none;
  font-family: 'avenir-light', Fallback, sans-serif;
  font-size: 16px
  }

  .content-form {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
  }

  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .form-p {
    margin: 0;
    font-family: 'avenir-light', Fallback, sans-serif;
    font-size: 20pt;
    color: #4A4A4A;
    padding: 0 0 10px 7px;
  }

  .f {
    width: 45%;
    display: block;
    justify-content: right;
    margin-bottom: 90px;
  }

  .f-name {
    /* background-color: yellow; */
  }

  .f-vorname {
   /* background-color: aqua; */
  }

  .f-email {
   /* background-color: green; */
  }

  .f-company {
    /* background-color: red; */
  }

 .f-message {
   width: 100%;
 }

textarea {
  /* background: red; */
  outline: none;
  background: none;
  border: solid #4A4A4A 2px;
  width: 100%;
  height: auto;
  resize: none;
  font-family: 'avenir-light', Fallback, sans-serif;
  font-size: 16px;
  color: #4A4A4A;
  padding: 10px;
  margin-bottom: 20px;
}

.senden {
width: 100px;
height: 40px;
/* border-radius: 0; */
border: none;
font-family: 'avenir-light', Fallback, sans-serif;
font-size: 15px;
color: #fffff1;
background-color: #4A4A4A;
outline: none;
}

.senden:hover {
  /* -webkit-box-shadow: -3px 3px 0px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 3px 0px -2px rgba(0,0,0,0.75);
box-shadow: -3px 3px 0px -2px rgba(0,0,0,0.75); */
  transform: scale(1.06);
}