.title-work {
    margin-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
    font-family: 'futura-bold', Fallback, sans-serif;
}

.text-container-work {
    display: flex;
    justify-content: center;
    /* background-color: blue; */
    margin-top: 60px;
}

.text-work-border {
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #4A4A4A;
    height: 100%;
    width: 70%;
}

.text-work {
    font-family: 'futura-medium', Fallback, sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 40px;
    font-size: 20pt;
    font-weight: normal;
    color: white;
    width: 80%;
    margin: 100px 0 100px 0;
    padding: 0 20px 0 20px;
    /* background-color: red; */
}

.content-work {
    display: flex;
    justify-content: center;
    width: 70%;
    /* overflow: hidden; */
    margin: auto;
}

.all-work-in-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.work:nth-child(odd) {
    margin-right: 5px;
    margin-top: 10px;
}

.work:nth-child(even) {
    margin-left: 5px;
    margin-top: 10px;
}

.bbq {
    background: url(../img/work/BBQ/bbq.jpg);
}

.oaff {
    background: url(../img/work/OAFF/oaff.jpg);
}

.christmas {
    background: url(../img/work/christmas/christmas.png);
}

.website {
    background: url(../img/Work/website/website.png);
}

.cv {
    background: url(../img/Work/cv/cv.png);
}

.deutsch {
    background: url(../img/Work/deutsch/deutsch.png);
}

.manual {
    background: url(../img/Work/manual/manual.png);
}
.work {
    width: calc(50% - 5px);
    display: flex;
    padding-bottom: 50%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.work:hover {
    /* opacity: 0.3; */
    -webkit-box-shadow: -8px 9px 8px -5px rgba(0,0,0,0.55);
    -moz-box-shadow: -8px 9px 8px -5px rgba(0,0,0,0.55);
    box-shadow: -8px 9px 8px -5px rgba(0,0,0,0.55);
    transform: scale(1.02);
}